/*
*= require_self
*= require_tree .
*= require social-share-button 
*/

body {
  width: 100%;
  margin: 0;
  font-family: Courier;
  font-size: 12pt;
}

#content {
  text-align: center;
}

#footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10pt;
  font-size: 10pt;
}
