/*
*= require_self
*= require_tree .
*= require social-share-button 
*/

body {
  font-family: Courier;
}

#content {
  text-align: center;
}

#footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10px;
  font-size: 11px;
}
